.env
*.map
*.log
*/out/
*/debug/
*/node_modules/
*/package-lock.json
package-lock.json
debug/
node_modules/
*.iml
.idea
.vscode
.vs/
src/game.js
dist/
builds/
pixiv5/dist/
client/src/assets/atlases/*.png
client/src/assets/atlases/*.json
resources/origin.assets/fruit_bar/
pixiv5/src/assets/hash.json
pixiv5/src/assets/sounds/SOUND_FILE.*
/pixiv5/assets/hash.json

resources/assets/atlases/*.png
resources/assets/atlases/*.json
.nyc_output
